<main class="main">
    <section class="tabla-wrapper">
        <h3>Productos</h3>
        <!-- Filtros -->
        <form class="filters" [formGroup]="filtersForm">
            <input type="search" placeholder="Buscar por código o nombre…" formControlName="q" autocomplete="off" />
            <select formControlName="category">
                <option value="">Todas las categorías</option>
                <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
            </select>
            <select formControlName="offer">
                <option value="">Todas</option>
                <option value="yes">En oferta</option>
                <option value="no">Sin oferta</option>
            </select>

            <input type="number" formControlName="minPrice" placeholder="Precio min" />
            <input type="number" formControlName="maxPrice" placeholder="Precio max" />

            <button type="button" class="btn-reset" (click)="resetFilters()">
                Limpiar
            </button>

            <div class="result-info">
                Productos {{ products.length }} de {{ allProducts.length }}
            </div>
        </form>

        <!-- Tabla -->
        <table class="tabla">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th class="text-right">Precio</th>
                    <th>Oferta</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let p of products; trackBy: trackByCode">
                    <td>{{ p.code }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td class="text-right">{{ p.price | currency:'PEN ':'symbol-narrow' }}</td>
                    <td>
                        <span class="badge" [class.badge-ok]="p.inOffer" [class.badge-no]="!p.inOffer">
                            {{ p.inOffer ? 'Sí' : 'No' }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>