// /* You can add global styles to this file, and also import other style files */


// /* ======= Dark theme tokens ======= */
// :root {
//   --bg: #0b0b0b;
//   --surface: #121212;
//   --surface-2: #6311f0;
//   --icon: #f7f3f3;
//   --border: #7c3aed;
//   --border-soft: #1f1f1f;
//   --text: #e6e6e6;
//   --muted: #bdbdbd;
//   --accent: #7c3aed;
//   /* morado */
//   --accent-weak: rgba(124, 58, 237, 0.25);
//   --ok: #10b981;
//   --ok-weak: rgba(16, 185, 129, .2);
//   --no: #ef4444;
//   --no-weak: rgba(239, 68, 68, .18);
//   --shadow: 0 10px 30px rgba(0, 0, 0, .45);
// }

body {
  margin: 0px;
  padding: 0px;
  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  //   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ===========
   Variables & base
   =========== */
:root {
  --bg: #0b0d12;
  --card: #11151c;
  --muted: #8b97a8;
  --text: #e6ebf2;
  --text-black: #09022c;
  --primary: #6444f7;
  --seconday: #7c5cff;
  --bg-tr: #6d4fe4;
  --line: #1e2430;
  --ok: #22c55e;
  --no: #ef4444;
  --warning: #f59e0b;
  --radius: 12px;
  --shadow: 0 6px 20px rgba(0, 0, 0, .25);
}