/* ===========
   Variables & base
   =========== */
:root {
  --bg: #0b0d12;
  --card: #11151c;
  --muted: #8b97a8;
  --text: #e6ebf2;
  --text-black: #09022c;
  --primary: #6444f7;
  --seconday: #7c5cff;
  --bg-tr: #6d4fe4;
  --line: #1e2430;
  --ok: #22c55e;
  --no: #ef4444;
  --warning: #f59e0b;
  --radius: 12px;
  --shadow: 0 6px 20px rgba(0, 0, 0, .25);
}

body {
  margin: 0px;
  padding: 0px;
  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  //   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}