<main class="main">
    <div class="content-t1">
        <h1 class="t1">TE AMO ... TE AMO ..TE AMO</h1>
    </div>
    <div class="content">
        <!-- <div class="image-container">
            <img src="record.jpg" alt="app" class="carta" />
        </div>
        <div class="image-container">
            <img src="carta.png" alt="app" class="carta" />
        </div> -->

        <p class="p">
            Feliz cumpleaños, amor de mi vida.
            Hoy no solo celebramos el día en que llegaste al mundo, sino también el privilegio inmenso que tengo de
            compartir esta vida contigo. Eres la razón por la que sonrío sin motivo, la luz en mis días grises y la
            calma en medio de cualquier tormenta. Tu risa es mi canción favorita, tus abrazos son mi refugio, y tu amor
            es el regalo más hermoso que la vida me ha dado. En cada mirada tuya encuentro paz, en cada palabra
            encuentro fuerza, y en cada segundo contigo descubro todo lo que siempre soñé.

            Gracias por ser tú, por tu ternura, tu paciencia, tu forma de amar tan sincera, y por estar a mi lado
            incluso en los momentos en los que ni yo sabía cómo seguir. Tu existencia ha cambiado mi vida, y no hay un
            solo día en el que no me sienta agradecido con Dios y con el destino por haberte cruzado en mi camino.

            #04 DCM.
            A pesar de las dificultades, seguimos adelante —no solo por la voluntad de Dios, sino también porque día a
            día elegimos quedarnos el uno al lado del otro. Tus problemas también son míos, así como tus alegrías, tus
            metas, tus sueños y tus silencios. Quiero acompañarte en cada sonrisa y también en cada lágrima. Nunca
            estarás sola, porque enfrentaremos la vida tomados de la mano. Yo te elegí para mi vida, y lo seguiré
            haciendo todos los días. Que nada nos separe, y que este amor tan hermoso que sentimos nunca se apague.

            Hoy, más que nunca, deseo que tu corazón esté lleno de alegría, que tus sueños se sigan cumpliendo, y que
            cada año que pases sea más bonito si lo vivimos juntos. Estoy orgulloso de ti, de la persona que eres, de lo
            fuerte, dulce y valiente que eres. Este cumpleaños no solo marca otro año de vida para ti, sino otro año más
            en el que tengo el honor de llamarte "mi amor".

            Te amo con todo mi ser. Hoy, mañana, y en cada una de las vidas que me toque vivir.

        </p>
    </div>
    <a [routerLink]="['/']">
        <img src="atras.png" alt="app" class="back" />
    </a>

</main>